.banner {
    display: block;
    width: 100%;
    margin: auto;
    background-color: #6278f7;
    padding: 0;
    img {
        display: block;
        max-width: 100%;
        margin: auto;
    }
}
